.argumentation {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-direction: row;
}

.block-argue-proscons--col {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

.block-argue-proscons--col-headline {
    border-bottom: 2px solid #999;
}