.rate-widget-number-up-down {
  width: 40px;
  float: left;
  margin-right: 15px;
}

.rate-widget-number-up-down::after {
  content: '';
  display: table;
  clear: both;
}

.rate-number-up-down-rating {
  float: none;
  width: auto;
  height: 20px;
  background: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.rate-number-up-down-btn-up,
.rate-number-up-down-btn-down {
  float: none;
  width: auto;
  display: block;
  height: 50px;
  background: none;
  margin: 0;
  text-indent: -999rem;
  position: relative;
}

.rate-number-up-down-btn-up::before,
.rate-number-up-down-btn-down::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -6px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}

.rate-number-up-down-btn-up::before {
  border-bottom: 13px solid #999;
  border-top: 0;
}

.rate-number-up-down-btn-down::before {
  border-top: 13px solid #999;
  border-bottom: 0;
}

.rate-undo {
  display: block;
  height: 22px;
  margin: 0;
  text-indent: -999rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' enable-background='new 0 0 512 512'%3E%3Cpath d='M271.8 119.6c-78.5 0-148 38-191.8 96.2L0 135.6v256h256l-87.2-87c23-70.2 89-121 167-121 97.3 0 176 79 176 176 0-132.5-107.4-240-240-240z' fill='%23999999'/%3E%3C/svg%3E");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
